.system-grid
{
    font-family: "Lucida Sans Unicode" , "Lucida Grande" , sans-serif;
    font-size: 12px;
}
.system-grid tr
{
    border: 1px solid #50ABBF;
}
.system-grid tfoot td
{
    text-align: center;
}
.system-grid .grid-link
{
    color: #2073A5;
}
.system-grid tbody tr:hover td
{
    background-color: #D86041;
    cursor: pointer;
}
.grid-container
{
    padding: 0;
    margin: 0;
    position: relative;
}
.grid-edit-section
{
    display: none;
}
div.overlay
{
    background-color: #E7E5E5;
    opacity: 0.4;
    z-index: 10;
    position: absolute;
    top: 0%;
    display: block;
    text-align: center;
}
.overlay-img {
    position: absolute;
}