body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #5C4B51;
    color: #F2EBBF;
    font-weight: 100;
}

body a {
    color: #8CBEB2;
    text-decoration: none;
}

body a:hover {
    color: #F3B562;
    cursor: pointer;
    text-decoration: underline;
}

body a:visited {
    color: #F06060;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 1000px;
    border-left: 1px solid #635158;
    border-right: 1px solid #635158;
}
/******************************
***********HEADER**************
******************************/
.header {
    font-size: 16px;
}
    .header .title {
        line-height: 30px;
        width: 250px;
        float: left;
        padding: 20px;
    }
        .header .title .slogan {
            font-size: 12px;
            margin-left: 35px;
        }
        .header .title .abbr {
            font-size: 42px;
        }
        .header .title .name {
            font-size: 30px;
            margin-top: 10px;
        }
    .header .navigation {
        float: right;
        margin-right: 5px;
    }
    .header .navigation a {
        margin: 0px 8px 0px 8px;
    }
    .header .hero {
    }
    

/******************************
***********BODY****************
******************************/
.body {
}
    .body .lefty {
        width: 700px;
        float: left;
        border-right: 1px solid #635158;
        padding: 15px;
    }
    .body .righty 
    {
        left: -9px;
        width: 23%;
        float: right;
        border-left: 1px solid #635158;
        position: relative;
        padding: 15px;
    }
    
/******************************
***********FOOTER**************
******************************/

/******************************
***********SOCIAL**************
******************************/
    .body .social-container {
        
    }
        .body .social-container .social {
            margin-left: 10px;
            width: 24px;
            height: 24px;
            display: inline-block;
        }
        
        .body .social-container .facebook {
            background: url("../Images/social_layout.png") -1px -1px;
        }
        .body .social-container .facebook:hover {
            background: url("../Images/social_layout.png") -87px -1px;
        }
        
        .body .social-container .twitter {
            background: url("../Images/social_layout.png") -58px -1px;
        }
        .body .social-container .twitter:hover {
            background: url("../Images/social_layout.png") -144px -1px;
        }
        
        .body .social-container .linkedin {
            background: url("../Images/social_layout.png") -29px -1px;
        }
        .body .social-container .linkedin:hover {
            background: url("../Images/social_layout.png") -115px -1px;
        }


/******************************
***********NEWS****************
******************************/
.news-item {
    margin-top: 10px;
}
    .news-item .news-header {
        font-size: 1.2em;
    }
        .news-item .news-header .news-date {
            font-size: 10px;
            color: #B896A2;
            margin-left: 20px;
        }
    .news-item .news-body {
        border-bottom: 1px solid #635158;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    
/******************************
***********PORTFOLIO***********
******************************/
.portfolio {
    width: 100%;
}
    .portfolio .top {
        margin: 10px;
    }
    
    .portfolio .item {
        margin: 0px 15px 0px 15px;
    }
    
        .portfolio .item .description 
        {
            margin-top: 10px;
            font-size: smaller;
        }