.portfolio {
    width: 100%;
}
    .portfolio .top {
        margin: 10px;
    }
    
    .portfolio .portfolio-item {
        margin: 15px;
    }
    
        .portfolio .portfolio-item img {
            float: left;
        }
    
        .portfolio .portfolio-item .portfolio-item-description 
        {
            margin-top: 10px;
            font-size: smaller;
        }