.loginStatus {
	text-align:right;
	margin:0 auto;
	width: 800px;
}
.loginButton {
    
}
.loginForm {
    text-align:right;
	margin:0 auto;
	width: 800px;
    display: none;
}
.loginInput {
    width:100px;
}
header 
{
    /* TODO: bullshit paths */
	background:url("../../Images/Web.Header/logo.gif") no-repeat top left;
	margin:0 auto;
	height:200px;
	width: 800px;
	border-top:1px solid #6E9489;
	border-left:1px solid #6E9489;
	border-right:1px solid #6E9489;
	background-color:#FAFAFA;
}
header nav {
	text-align:right;
	vertical-align:bottom;
	margin:160px 25px 0 0;
}
header nav a {
	margin-left:13px;
}