@using Entities.Entities.Base.Portfolio

@model List<Portfolio>

<div class="portfolio">
    <div class="top">
        &ensp;Hi Everybody! My name is Alex as you have already noticed from my logo. Here is my portfolio section 
        with my old work that I did in Humber College. <br /> <br />This website is created using technologies I learned there and 
        during my work career as a Web Developer. All of them are pretty simple and don't reflect my current ability because
        learning is what I do every day. Web Development area is very wide and changes every second, so currently I probably know a
        thousand times more than I have here. Enjoy!
    </div>
    <br />
    @foreach (var item in Model)
    {
        <div class="item">
            <div class="item-top" data-imageUrl="@item.ImageUrl"></div>
            <div class="description">@item.Description</div>
        </div>
    }
</div>