@using Entities.Entities.Portfolio
@using Web.Infrastructure.Assets

@model List<Portfolio>

@Html.RenderAsset(Assets.Styles.Portfolio)
<div class="portfolio">
    <div class="top">
           This is text that needs to be updated
    </div>
    <br />
    @foreach (var item in Model)
    {
        Html.RenderPartial("PortfolioPiece", item);
    }
</div>