<footer>
	<span>&copy; Copyright alexdenysenko.com, @DateTime.Now.Year.ToString()</span>
	<nav>
		<a href='/privacy'>privacy policy</a>
		<a href='/about'>about</a>
		<a href='/termsOfUse'>terms of use</a>
	</nav>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-31808691-1']);
		_gaq.push(['_trackPageview']);
		(function () {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
    </script>
</footer>