<div class="header">
    <div class="content">
        <div class="title">
        <div class="abbr">AD</div>
        <div class="name">{Alex Denysenko}</div>
        <div class="slogan">BC has passed guys, its time for AD</div>
        </div>
        <div class="navigation">
        <a>Home</a> // <a>Portfolio</a> // <a>Resume</a> // <a>Contact</a>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
<div class="header">
    <div class="content">
        <div class="hero">
        dasdasdad
        </div>
    </div>
</div>