<div class="loginStatus">
    <label id='loginText' name='loginText' />
    <a href="" id="loginButton" class="loginButton">login</a> 
    <a href="@Url.Action("Logout", "Login")" id="logoutButton" class="loginButton">Logout</a>
</div>
<div class="loginForm">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "login" }))
    {
        @Html.TextBox("inputLogin", "", new { @class = "loginInput" })<br />
        @Html.Password("inputPassword", "", new { @class = "loginInput" })<br />
        
        <a href="@Url.Action("Authenticate", "Login")" id="submit">Submit</a>
        
        
        //@Html.ActionLink("Submit", "Authenticate", "Login", new {}, new { id = "submit" })
    }
</div>
