<script src="@Url.Content("~/Content/Scripts/System.Social.js")"></script>

<div class="social-container">
    <a class="social facebook" href="https://www.facebook.com/alex.denysenko.3" target="_blank"></a>
    <a class="social twitter" href="https://twitter.com/alexdenysenko" target="_blank"></a>
    <a class="social linkedin" href="http://www.linkedin.com/in/alexdenysenko" target="_blank"></a>
    <div class="twitter-feed-container">
        <div class="twitter-widjet"></div>
    </div>
</div>

<script language="javascript" type="text/javascript">
    System.Social.init($('.social-container'));
</script>