@using Entities.Entities
@using Web.Infrastructure
@using Web.Infrastructure.Assets

@model List<NewsItem>

@Html.RenderAsset(Assets.Styles.News)
@foreach (var item in Model)
{
    <div class="news-item">
        <div class="news-header">
            @item.Title <span class="news-date">@item.DateCreated.ToShortDateStringEx()</span>
        </div>
        <div class="news-body">@item.Text</div>
    </div>
}