<div class="body container">
    <div class="lefty">
        <div class="news-item">
            <div class="news-header">
                This is a header dhas fjhdaslhdhashashkjas hkdash kls dkjas kjas hdash kldash kjdas  daslk <span class="news-date">02-Nov-2013</span>
            </div>
            <div class="news-body">This is body text that is supposed to be long and all that stuff</div>
        </div>
    </div>
    <div class="righty">
        <div class="social">
            
        </div>
    adshf klasdh fklhdas kfkhf kasdhfkljdaskdhaskjhfdasdfs kjs s ds hdkjas dkas  hdas hdkjas hfkjdas hkljdashf
    </div>
</div>