@using Entities.Entities
@using Business.Infrastructure

@model List<NewsItem>

@foreach (var item in Model)
{
    <div class="news-item">
        <div class="news-header">
            @item.Title <span class="news-date">@item.DateCreated.ToShortDateStringEx()</span>
        </div>
        <div class="news-body">@item.Text</div>
    </div>
}