footer {
	clear:both;
	text-align:center;
	margin:0 auto;
	height:50px;
	width: 800px;
	font-size:10px;
	margin-top:10px;
}
footer nav a {
	font-size:10px;
	color:#41434a;
	text-decoration:none;
}
footer nav a:hover {
	text-decoration:underline;
}
footer nav {
	display:inline;
}