@using Entities.Entities
@model NewsItem

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/Content/Style/News/Web.News.css")"/>
}
    <article class="newsItem-article">
        <div class="newsItem-title">
            @Model.Title
        </div>
        <div class="newsItem-text">
            @Model.Text
        </div>
        <!-- TODO: Implement twitter button -->
    </article>
